body {
    font-family: "Arial", "Helvetica", sans-serif;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px; 
    background: #fff;
}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}

h2 {
    border-bottom: 1px solid #3D3D3D;
    padding-bottom: 4px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8f8f8;
    color: lightgrey;
    padding: 15px;
    margin: 30px 0;
    border-radius: 6px;
    box-sizing: border-box;
}


figure img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


figcaption {
    margin-top: 10px;
    text-align: center;
    color: #555;
}

